{% extends "base.html" %}
{%block title %}Browse Statistics{% endblock %}

{% block content %}
    <img src="/static/logo.png" width = "300" height = "100">
    <h1>Please select which week's statistics you would like to view</h1>
    Date of today: {{['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][date.weekday()]}} {{date.day}}/{{date.month}}/{{date.year}}
    <p>Current Week: {{currweek}}</p>
    <form method = "post">
        <p>
            Run Date:
            <input type="text" name = "date">
        </p>
        <button type="submit">View the statistics of the week which contains this day</button>
        <p>
            Note: Please put in format of [d]d/[m]m/yyyy. You can also type in a week number (int) instead. (The statistics file in week x will be the statistics of the predictor trained (presumably) in week x+1 with the addition of the data of week x)
        </p>
        
    </form>
    
    <p>
        <a href = "{{url_for('view_recent_statistics')}}">Most Recent Statistic</a>
    </p>
    <p>    </p>
    <p>
        <a href = "{{ url_for('view_files') }}">Back</a>
    </p>
    <p>
        <a href = "{{ url_for('home') }}">Home</a>
    </p>
{% endblock %}